# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
.vscode/launch.json
grafana/tempo-data/blocks/tempo_cluster_seed.json
grafana/tempo-data/blocks/single-tenant/index.json.gz
.gitignore
grafana/tempo-data/blocks/single-tenant/3a185148-05b8-471b-b00d-1612427dd9e7/bloom-0
grafana/tempo-data/blocks/single-tenant/3a185148-05b8-471b-b00d-1612427dd9e7/data.parquet
.gitignore
grafana/tempo-data/generator/wal/single-tenant/lock
.gitignore
grafana/tempo-data/blocks/single-tenant/3a185148-05b8-471b-b00d-1612427dd9e7/meta.json
.gitignore
grafana/tempo-data/wal/bd06c86a-0e06-43c9-9b6d-b9f9cf29a38c+single-tenant+vParquet2/0000000001
grafana/tempo-data/generator/wal/single-tenant/wal/00000000
